.content-section {
  padding: 23px 30px;
}

.breadcrumb-item:not(:first-child)::before {
  content: ">" !important;
}

.breadcrumb > .active {
  background-color: unset !important;
  color: #E84D0E !important;
}

a {
  text-decoration: none !important;
  color: #818181 !important;
}

.breadcrumb-item {
  font-size: 11px;
  color: #818181;
}

.title {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 40px;
}